<div class="col-md-6">
    <div class="card">
        <div class="card-header">
        <h5 class="card-category">Clientes cadastrados</h5>
        </div>
        <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <th>
                    Name
                    </th>
                    <th>
                    Telefone
                    </th>
                    <th>
                    E-mail
                    </th>
                </thead>
                <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.telefone}}</td>
                    <td>{{cliente.email}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>