<div class="col-md-6">
    <div class="card">
        <div class="card-header">
        <h5 class="card-category">Andamento do projeto</h5>
        </div>
        <div class="card-body">
        <div class="table-responsive">
            <table class="table">
            <thead class=" text-primary">
                <th>
                Name
                </th>
                <th>
                Cliente
                </th>
                <th>
                Data de inicio
                </th>
            </thead>
            <tbody>
            {% for projeto in projetos %}
                <tr>
                 <td>{{projeto.nome}}</td>
                 <td>{{projeto.cliente}}</td>
                 <td>{{projeto.data_inicio}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>