<div class="sidebar" data-color="orange">
      <div class="logo">
        <a href="/" class="simple-text logo-mini">
          ET
        </a>
        <a href="/" class="simple-text logo-normal">
          EngTech
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="/dashboard">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/dashboard/projeto/cadastro">
              <i class="now-ui-icons design_app"></i>
              <p>Projetos</p>
            </a>
          </li>
          <li>
            <a href="/dashboard/cliente/cadastro">
              <i class="now-ui-icons design_app"></i>
              <p>Cliente</p>
            </a>
          </li>
        </ul>
      </div>
    </div>