{% load static %}

      {% include "components/dash_base.html" %}



  <div class="container content">
    {% block content %}

      <div class="panel-header panel-header-lg">
        <div></div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Projetos Finalizados</h5>
                <h4 class="card-title">Total de projetos finalizados</h4>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <div><h1 id="value">0</h1></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Numero de clientes</h5>
                <h4 class="card-title">Total de clientes cadastrados</h4>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <div><h1 id="value">0</h1></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card  card-tasks">
              <div class="card-header ">
                <h5 class="card-category">Lista de projetos</h5>
                <h4 class="card-title">Solicitações</h4>
              </div>
              <div class="card-body ">
                <div class="table-full-width table-responsive">
                  <table class="table">
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-category">Clientes cadastrados</h5>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                        Telefone
                      </th>
                      <th>
                        E-mail
                      </th>
                    </thead>
                    <tbody>
                
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-category">Andamento do projeto</h5>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                        Cliente
                      </th>
                      <th>
                        Data de inicio
                      </th>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    {% endblock %}
  </div>
  
  {% include "components/dash-footer.html" %}
</html>