{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

  <head>
    {% include "components/dashboard/base/head.html" %}
  </head>

  {% include "components/dashboard/style/style.html" %}

  <body class="">
    <div class="wrapper">

      {% include "components/dashboard/components/sideBarMenu.html" %}

      <div class="main-panel" id="main-panel">

        {% include "components/dashboard/components/menu.html" %}
        {% include "components/dashboard/components/header.html" %}

        <div class="content">
          <div class="row">

            {% include "components/dashboard/components/finalProjects.html" %}
            {% include "components/dashboard/components/clientsNumber.html" %}
            {% include "components/dashboard/components/solicitations.html" %}

          </div>
          <div class="row">
           
            {% include "components/dashboard/components/clients.html" %}
            {% include "components/dashboard/components/projects.html" %}
          
          </div>
        </div>
        {% include "base/model-footer.html" %}
      
      </div>
    </div>
    
    {% include "components/dashboard/scripts/scripts.html" %}
    
  </body>

</html>