<DOCTYPE! html>

<html>

  <head>
    {% include "base/model-header.html" %}
  </head>

  <header>
    {% include "components/menu.html" %}
    <div id="" >
      {% include "components/jumbotrom.html" %}
    </div>
  </header>
  

  <div class="container content">
    {% block content %}

      {% include "components/about.html" %}

      {% include "components/galery.html" %}

      {% include "components/contact.html" %}

    {% endblock %}
  </div>
  
  {% include "base/model-footer.html" %}

</html>