{% block content %}

<section id="about">
    <div style="padding: 8%;">
        {% if evento.get_evento_atrasado %}
        
    {% endif %}
        <div class="row">
            <div class="col-md-12">
                <h2>Novo Projeto</h2>
            </div>
            <div class="col-md-12">

                <form action="submit" method="POST">{% csrf_token %}
                    <input type="number" name="id_projeto" value="{{ projeto.id }}" hidden>
                    <label>Nome</label>
                    <br>
                    <input type="text" name="nome" size="23" value="{{ projeto.titulo }}">
                    <br>
                    <label>Descrição</label>
                    <br>
                    <textarea name="descricao" rows="5" cols="23">{{ projeto.descricao }}</textarea>
                    <br>
                    <label>Status de Andamento</label>
                    <br>
                    <input type="text" name="status_andamento" size="23" value="{{ projeto.status_andamento }}">
                    <br>
                    <label>Orçamento</label>
                    <br>
                    <input type="number"  min="0" name="orcamento" size="23" value="{{ projeto.orcamento }}">
                    <br>
                    <label>Data de ínicio</label>
                    <br>
                    <input type="datetime-local" name="data_inicio" value="{{ projeto.get_data_input_inicio }}">
                    <br>
                    
                    <br>
                    <label>Cliente</label>
                    <br>
                    <select name="cliente">
                        {% for cliente in clientes %}
                        <option value="{{cliente.id}}" > {{cliente.nome}}</option>
                    {% endfor %}
                        </select> 
                    <br>
                    <button type="submit">Salvar</button>
                    <a href="/dashboard">
                        <button type="button">Cancelar</button>
                    </a>
                </form>
            </div>
        </div>
        {% endblock %}