{% load static %}

<section id="about">
  <div  style="padding: 8%;">
    <div class="row">
      <div class="col-md-12">
        <h2 style="text-align: center">Sobre Nós</h2>
      </div>      
      <div class="col-md-12">
       <div class="col-md-12 text-center" style="margin: 20px 0 20px 0">
        <img class="img-responsive" src="{% static 'assets/images/engtec.png' %}" width="auto" height="auto" >
      </div>
        <p>
          Somos uma Empresa criada em 2020 por pessoas que viram uma oportunidade para inovar o mercado da engenharia civil , A EngTech se caracteriza pela inovação na forma de planejar, e pela sensibilidade para com o usuaio que tem uma ideia para construções no meio em que vive, mas não obteve apoio para realizar
          Atuamos na área de constuções civis e sempre procuramos ajudar o nosso cliente da melhor forma possivel.
        </p>
      </div>
     
    </div>
  </div>
</section>