{% load static %}
<link rel="stylesheet" href="{% static 'css/galery.css' %}">
<section id="galeria">

<h2 style="text-align:center">Galeria</h2>

  <ul class="galery">
    <li>
      <div class="item">
        <img src="{% static 'assets/images/foto1.jpg' %}" class="d-block w-100" width='100%' height="250px">
      </div>
    </li>
    <li>
      <div class="item">
        <img src="{% static 'assets/images/foto2.jpg' %}" class="d-block w-100"  width='100%' height="250px">
      </div>
    </li>
    <li>
      <div class="item">
        <img src="{% static 'assets/images/foto3.jpg' %}" class="d-block w-100"  width='100%' height="250px">
      </div>
    </li>
    <li>
      <div class="item">
        <img src="{% static 'assets/images/foto3.jpg' %}" class="d-block w-100"  width='100%' height="250px">
      </div>
    </li>
    <li>
      <div class="item">
        <img src="{% static 'assets/images/foto3.jpg' %}" class="d-block w-100"  width='100%' height="250px">
      </div>
    </li>
    <li>
      <div class="item">
        <img src="{% static 'assets/images/foto3.jpg' %}" class="d-block w-100"  width='100%' height="250px">
      </div>
    </li>
  </ul>

</section>

