{% load static %}
<link rel="stylesheet" href="{% static 'css/scroll.css' %}">
<nav class="navbar navbar-expand-lg navbar-light scrollTop" style="background-color: #1e3d58; height: 12%;">
    <a class="navbar-brand text-white" style="display: inline-flex;justify-content: center;align-items: center;">
      <img src="{% static 'assets/images/engtec.png' %}" width="70" height="70" class="d-inline-block align-top" alt="" loading="lazy">
      EngTech
    </a>
    {% comment %} Responsive menu {% endcomment %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% comment %} End responsive Menu {% endcomment %}
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link text-white" href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-white" href="#about">Sobre <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#secvices"> Serviços</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#galeria"> Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#contact"> Contato</a>
                  </li>
                  
                {% if not user.is_authenticated %}
                </ul>
                  <span style="margin-right: 2%;">
                    <a class="navbar-text disabled text-white " href="#" aria-disabled="true" style="text-transform: upercase" >{{user.username}}</a>
                    <li class="navbar-text dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Área Restrita
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <form class="form-inline offset-1" action="/login/submit" method="POST" > {% csrf_token %}
                        <input class="form-control dropdown-item" type="text" placeholder="Usuário" aria-label="Usuário" name="username">
                        <input class="form-control dropdown-item" placeholder="Senha" aria-label="Senha" type="password" name="password">
                        <button class="btn btn-outline-primary " type="submit" >Sign in</button> {% csrf_token %}
                      </form>
                    </div>
                  </li>
                {% comment %} <a href="/logout"><button class="btn btn-outline-primary my-2 my-sm-0 text-white" >Logout</button></a> {% endcomment %}
                </span>
          
              {% else %}
            </ul>   
              
              {% endif %}
            </div>
          </nav>
          {% for message in messages %}
            <script>
              Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Usuario ou senha invalidos!',
                  footer: 'por favor tente novamente'
                })
            </script>
          {% endfor %}
          <script src="{% static 'js/scroll.js' %}"></script>
